@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f1115;
  color: #e6e6e6;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-grid-container {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 1024px) {
  .app-grid-container {
    grid-template-columns: 240px 1fr 360px;
  }
}
